.landing-logo{
  max-width: 300px;
  height: auto;
}

.menu-bar-logo{
  max-width: 50px;
  height: auto;
}

.big-logo{
  max-width: 500px;
  height: auto;
}

.full-height{
  min-height: 100vh;
}

body{
  min-height: 100vh;
}

#root{
  min-height: 100vh;
}